.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.*.aux
.*.bbl
.*.blg
.*.equ
.*.idx
.*.lof
.*.lol
.*.log
.*.lot
.*.nlo
.*.out
.*.toc
Inhalt/*.aux
# ./Inhalt/.aux
/Screenshots
/PDF
conference.aux
journal.aux
KSP_Diss_A5.aux
conference.bbl
conference.blg
journal.bbl
journal.blg
KSP_Diss_A5.bbl
KSP_Diss_A5.blg
KSP_Diss_A5.lof
KSP_Diss_A5.lot
KSP_Diss_A5.nlo
KSP_Diss_A5.out
KSP_Diss_A5.toc
KSP_Diss_A5.idx
KSP_Diss_A5.log